/* src/App.css */
body {
  background: linear-gradient(to right, #141e30, #243b55);
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #00ffcc;
}
